@model IEnumerable<Gestionale_Albergo.Models.Servizi>

@{
    ViewBag.Title = "ServiceList";
}
<h2 style="color: #6f6d6b; text-shadow: 1px 1px 9px rgba(1, 0, 0, 0.5);">Servizi extra</h2>

@if (ViewBag.msgerror != null)
{
    <div class="alert alert-warning">@ViewBag.msgerror</div>
}
<p>
    @Html.ActionLink("Aggiungi servizio", "Create", null, new { style = "text-decoration: none; color:#6f6d6b; border-radius: 5px; border: 1px solid #6f6d6b; padding: 5px;", onmouseover = "this.style.color='#0D6EFD'", onmouseout = "this.style.color='#6f6d6b'" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdPrenotazione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NrCamera)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cliente)
        </th>
        <th>
            @Html.DisplayName("Totale Servizi")
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdPrenotazione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NrCamera)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prezzo)
            </td>
            
            <td>

                @Html.ActionLink("Dettagli Servizi", "Details", new { id=item.IdPrenotazione }) 

            </td>
        </tr>
    }

</table>
